
@{
    ViewData["Title"] = "Access denied";
}


<div class="alert alert-danger" role="alert">
    <h1 class="alert-heading">Отказоно в доступе!</h1>
    <p>Не достаточно прав!</p>
    <hr>
    <p class="mb-0">За измением обратитесь к адмистратору! </p>
</div>

<div>
    <a asp-controller="News" asp-action="Index">Back to List</a>
</div>
