@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Изменение пароля";
}

    <h4 class="mb-3">Изменение пароля для пользователя @Model.Email</h4>
        <form asp-action="ChangePassword" asp-controller="Users">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email"/>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">Старый пароль</label>
                <input type="password" asp-for="OldPassword" class="form-control" placeholder="Old password" required="">
                <div asp-validation-for="OldPassword"></div>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">Новый пароль</label>
                <input type="password" asp-for="NewPassword" class="form-control" placeholder="New password" required="">
                <div asp-validation-for="NewPassword"></div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Сохранить</button>
                @*<input type="submit" value="Сохранить" class="btn btn-default" />*@
            </div>
        </form>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
